/* Adapted from https://www.w3schools.com/howto/howto_js_sticky_header.asp */

/* Style the header */
header {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    padding: 10px 16px;
    /* from https://coolors.co/721817-fa9f42-2b4162-0b6e4f-e0e0e2 */
    background: #FA9F42;
    color: #000000;
}
  
/* Page content */
.content {
    padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 102px;
}