@import url("info-cards.css");
@import url("big-section.css");

.content {
  padding: 2em;
  padding-bottom: 5em;
  display: flex;
  flex-direction: column;
}

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5vh;
}

#picture {
  margin-top: 1em;
  margin-bottom: 3em;
  border-radius: 50%;
}

#description {
  font-size: 2.5rem;
  font-weight: 500;
  text-align: start;
}

#description-prompt {
  font-size: 2rem;
}

/* from https://codepen.io/dani-visual31/pen/aQpZza */
#description-prompt:after {
  content: "_";
  margin-left: 0.5em;
  font-size: 2rem;
  opacity: 0;
  animation: cursor 1s infinite;
}

@keyframes cursor {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#description p {
  margin: 0.2em;
}

#description strong {
  font-weight: 600;
}

#description-name strong {
  color: lightcoral;
}

#description-field strong {
  color: lightskyblue;
}

#description-place strong {
  color: lightgreen;
}

#interests li:before {
  content: "💻";
}

#cv-links a {
  text-decoration: none;
}

#cv-links a:hover {
  text-decoration: underline;
}

#cv-links li:after {
  content: "\f054";
  font-family: FontAwesome;
  color: #06c;
  font-size: 0.75rem;
  margin-left: 0.4em;
}

#cv-es-link:before {
  content: "🇪🇸";
}

#cv-en-link:before {
  content: "🇬🇧";
}
