.form-card-title {
  font-size: 1.125rem;
  font-weight: 600;
  color: var(--light-gray-1);
  text-align: center;
}

.form-card-subtitle {
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
  margin-bottom: 2em;
  text-align: center;
}

.big-section-title {
  font-size: 1.75rem;
}

.big-section-subtitle {
  font-size: 3rem;
}
