#portfolio-images {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5em;
}

.portfolio-img {
  position: relative;
}

#ride-img {
  left: 30%;
}

#asistenciasucr-img {
  right: 25%;
}

#ceaco-img {
  left: 25%;
}

#hawkeyes-img {
  right: 30%;
}