#content {
  margin: 2em auto;
}

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5vh;
}

#picture {
  margin: 1em;
  border-radius: 50%;
}

#description {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
}

#description p {
  margin: 0.2em;
}

#description-name strong {
  color: lightcoral;
}

#description-field strong {
  color: lightskyblue;
}

#description-place strong {
  color: lightgreen;
}

.info-group {
  padding-bottom: 1em;
}

/* tiny screens */
@media (max-width: 319px) {
  #content {
    margin: 2em;
    padding-bottom: 25vw;
  }
}

/* mobile devices */
@media (min-width: 320px) and (max-width: 480px) {
  #content {
    margin: 2em;
    padding-bottom: 25vw;
  }
}

/* tablets */
@media (min-width: 481px) and (max-width: 768px) {
  #content {
    margin: 2em;
    padding-bottom: 25vw;
  }
}

/* laptops */
@media (min-width: 769px) and (max-width: 1024px) {
  #content {
    margin: 2em;
    padding-bottom: 25vw;
  }
}

/* desktops */
@media (min-width: 1025px) and (max-width: 1200px) {
  #content {
    margin: 2em;
    padding-bottom: 25vw;
  }
}

/* large screens (TVs) */
@media (min-width: 1201px) {
}
