#content {
  margin: 2em auto;
  max-width: 1200px;
}

@media screen and (max-width: 1200px) {
  #content {
    margin: 2em;
    padding-bottom: 25vw;
  }
}

#about {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5vh;
}

@media screen and (max-width: 600px) {
  #about {
    flex-direction: column;
  }
}

#picture {
  margin: 1em;
  border-radius: 50%;
}

#description {
  margin-left: 2em;
}

@media screen and (max-width: 600px) {
  #description {
    margin-left: auto;
  }
}

.info-group {
  padding-bottom: 1em;
}
