footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  /* height: 4em; */
  /* from https://coolors.co/beef9e-a6c36f-828c51-335145-1e352f */
  background-color: #828c51;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
}

#footer-content {
  width: 100%;
  min-height: 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding-left: 2em;
  padding-right: 2em;
}

#spanish-link {
  font-weight: bold;
}

#footer-content a {
  color: white;
}

@media screen and (max-width: 600px) {
  #footer-content {
    flex-direction: column;
  }

  #footer-content p {
    margin: 1em;
  }
}

.footer-side-item {
  width: 5em;
}