header {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: white;
  position: sticky;
  top: 0;
}

.colored-background {
  opacity: 0.8;
  background: black;
  padding: 0.5em 1em;
}

#logo-section {
  margin-right: 1em;
}

#logo {
  margin-right: 1em;
}

#header-content {
  display: flex;
  opacity: 1;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-side-item {
  width: 40vh;
}

#header-links {
  display: flex;
  gap: 1em;
}

#header-links a {
  color: white;
}

#social-media-section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#social-media-section > a {
  margin: 0 0.5vw;
}

/* tiny screens */
@media (max-width: 329px) {
  #header-links {
    display: none;
  }

  @media (max-width: 240px) {
    #social-media-section {
      display: none;
    }
  }
}

/* mobile devices */
@media (min-width: 320px) and (max-width: 480px) {
  #header-links {
    display: none;
  }

  .header-side-item {
    width: auto;
  }
}

/* tablets */
@media (min-width: 481px) and (max-width: 768px) {
  @media (max-width: 680px) {
    #header-links {
      display: none;
    }
  }

  .header-side-item {
    width: auto;
  }
}

/* laptops */
@media (min-width: 769px) and (max-width: 1024px) {
  .header-side-item {
    width: auto;
  }
}

/* desktops */
@media (min-width: 1025px) and (max-width: 1200px) {
}

/* large screens (TVs) */
@media (min-width: 1201px) {
}
