header {
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  color: white;
  position: sticky;
  top: 0;
  border-bottom: 1px solid #e2e2e22b;
}

.colored-background {
  opacity: 0.8;
  background: #1d1d1f;
  padding: 0.2em 1em;
}

#logo-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

#header-content {
  display: flex;
  opacity: 1;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-side-item {
  width: 10em;
}

#header-links {
  display: flex;
  gap: 1em;
}

#header-links a {
  color: white;
  font-size: 0.875rem;
  text-decoration: none;
}

#social-media-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

/* tiny screens */
@media (max-width: 319px) {
  #social-media-section {
    display: none;
  }
}

.header-icon {
  font-size: 1.5rem;
  color: white;
}

/* mobile devices */
@media (min-width: 320px) and (max-width: 480px) {
  .header-side-item {
    width: auto;
  }
}

/* other */
@media (max-width: 580px) {
  #header-links {
    display: none;
  }
}
