html { 
    font-size: calc(0.75em + 1vw);
    width: 100%;
}

@media screen and (min-width: 400px) {
    html {
        font-size: 1em;
    }
}

body {
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    margin: 0 auto;
    width: 100%;
}

#content {
    margin: 20px auto;
    max-width: 1200px;
    padding-bottom: 20vw;
}

@media screen and (max-width: 1200px) {
    #content {
        margin: 20px;
    }
}

a {
    color: #457B9D;
}

#logo {
    margin-right: 20px;
}

#about {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5vh;
}

@media screen and (max-width: 600px) {
    #about {
        flex-direction: column;
    }
}

#picture {
    margin: 10px;
}

/* Adapted from https://www.w3schools.com/howto/howto_js_sticky_header.asp */

/* Style the header */
header {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    padding: 10px 20px;
    /* from https://coolors.co/e63946-f1faee-a8dadc-457b9d-1d3557 */
    background: #1D3557;
    color: white;
    position: sticky;
    top: 0;
}

#header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

@media screen and (min-width: 300px) {
    #header-content {
        padding: 10px;
    }
}

@media screen and (max-width: 1200px) {
    #header-content {
        margin: 0;
    }
}

@media screen and (max-width: 300px) {
    #header-content {
        flex-direction: column;
        align-items: flex-end;
    }

    #header-content > div {
        margin-top: 0.5em;
    }
}

#header-content > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#social-media-section > a {
    margin: 0 0.5vw;
}

/* Page content */
.content {
    padding: 16px;
}

h2 {
    font-size: 1em;
}

footer {
    font-size: 0.85em;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #E63946;
    color: white;
    text-align: center;
}

#footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

#spanish-link {
    font-weight: bold;
}

#footer-content a {
    color: white;
}

.margin-container {
    margin: 0 auto;
    max-width: 1200px;
}

@media screen and (max-width: 600px) {
    #footer-content {
        flex-direction: column;
    }

    #footer-content p {
        margin: 1em;
    }
}