@import url("header.css");
@import url("content.css");
@import url("footer.css");

html {
  width: 100%;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0 auto;
  width: 100%;
  background: #1d1d1f;
  color: white;
}

h2 {
  font-size: 1.125rem;
  font-weight: 600;
  text-align: center;
}

a {
  color: #06c;
}

.margin-container {
  margin: 0 auto;
  max-width: 980px;
}
