@import url(header.css);
@import url(content.css);
@import url(footer.css);

html {
  font-size: calc(0.75em + 1vw);
  width: 100%;
}

@media screen and (min-width: 400px) {
  html {
    font-size: 1em;
  }
}

body {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  margin: 0 auto;
  width: 100%;
}

h2 {
  font-size: 1.2em;
}

a {
  color: #457b9d;
}

.margin-container {
  margin: 0 auto;
  max-width: 1200px;
}
